{% extends 'base.html' %}
{% block title %}Trang chủ{% endblock %}
{% block contents %}
<div class="container video-list">
    <h1 class="my-3 mx-auto" style="width: 200px;"><b>Django</b></h1>
    {% for item in object_list %}
    <div class="media mt-1">
        <a href=""><img src="{{ item.pictures.url }}" class="mr-3" alt="..." width="80"></a>
        <div class="media-body">
            <h5 class="mt-0"><a href=""> {{ item.name }}</a></h5>
            <div>Teacher: <a href=""> {{ item.teacher }}</a></div>
            <div>Num lessons: {{ item.num_lessons }}</div>
            {{ item.excerpt }}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}